.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar li{
    margin: 10px;
}

.navbar a{
    color: #FFFFFF !important;
    text-decoration: none;
}